# Python Basics

## By Scott Parr

<a id="0"></a> <br>
 # Contents  

1. [Variables](#1)
1. [Numbers](#2)
1. [Comments](#3)
1. [Indentation](#4)
1. [Operators and Expressions](#5)
1. [Strings](#6)
1. [Lists](#7)
1. [Loops](#8)
1. [Functions](#9)
1. [Packages](#10)
1. [Print vs Return](#11)

<a id="1"></a> 
# 1.  Variables


Variables are things that stand in for something else.  In the following example we use a simple function: dogyears() which calculates your age in dog years.  Here, 'age' is a variable.  It has bean assigned to something else.  We could change the variable name, but it would still represent the same value it has been assigned to.  'dy' is also a variable.

In [1]:
def dogyears():
    age = float(input("what is your age? "))
    #dog years = human years * 7
    dy = age * 7
    print("Your age is", dy, "dog years")
    
dogyears()

what is your age? 12
Your age is 84.0 dog years

### More Variable Examples

In [2]:
a= 1

b= 2.0

y = 'Hello'

In [3]:
# we can print the variables individually, or all together
# we can also print a string with a following operation using the other variables 

print(a)
print(b)
print(y)
print(a, b, y)
print("a * b = ", a * b)

1
2.0
Hello
1 2.0 Hello
a * b =  2.0

In [4]:
#we can print the variable data type too

print(type(a))
print(type(b))
print(type(y))

<class 'int'>
<class 'float'>
<class 'str'>

### Some Specifics On Variable Naming

Names or identifiers have to begin with letters or underscores.  Case sensitive.  

Names are case sensitive

Names with multiple words must be connected with without spaces

    x = 1
    celcius = 2
    cow = 3
    Cow = 12
    DoG = 4
    DOG = 5
    dog = 6
    
Names with multiple words must be connected without spaces.  Some common methods are:

    myfriend = "James"
    MyFriend = "James"
    my_friend = "James"
    my.friend = "James"

Specifying a variable's value is called assignment

Assignments can be repeated, but they will be updated to the latest specification

In [5]:
x = 1
x = 2

If you don't get an error, things worked

However, you don't see your variable value unless you ask for it

In [6]:
x

2

We can then use this variable as a substitute for the value

In [7]:
x * 5

10

And we can also assign new variable from old

In [8]:
y = x ** 3
y

8

There are a small number of words that are reserved and cannot be used.  They will appear green in Jupyter, blue in colab, and the result will produce an error

In [96]:
#False = 6

In [97]:
#try = 7

[back to top](#Contents)

<a id="2"></a> 
# 2. Numbers

The above function takes in an integer value, and outputs a float value.  

Floats(floating point numbers): Floats are numbers with decimal places.

    Example: 12.0, 1.41, 200.21567, 12.5
    
    

Integers:  Integers are numbers without decimal places.   

    Example:  12, 3,  412, 6000, 1,000,000

In [13]:
1.41

1.41

In [14]:
3

3

[back to top](#Contents)

<a id="3"></a>

# 3. Comments

comment: in a code cell, text to the right of a "#" sign that is not included in the program and allows users to make notes to themselves or "comment out" parts of a program function.

In our dogyears calculator function, we see a comment that simply shares a piece of information: That dog years are equal to human years multiplied by 7.

def dogyears():

    age = float(input("what is your age? "))
    
    #dog years = human years * 7
    
    dy = age * 7
    
    print("Your age is", dy, "dog years")
    
dogyears()

[back to top](#Contents)

<a id="4"></a>

# 4. Indentation

Indentation is important for a function to work correctly.  In the following example, a new line followed by an indentation, indicates that it is part of the previous portion.   

First we define our function name

    then we indicate the functions first step (a loop)
    
        then we indicate a calculation and output throughout the loop

In [16]:
def exponent():
    for i in range(10):
        print(i**(i + 1))

In [17]:
exponent()

0
1
8
81
1024
15625
279936
5764801
134217728
3486784401

[back to top](#Contents)

<a id="5"></a>

# 5. Operators and Expressions

from:

https://python.swaroopch.com/op_exp.html

### expression

Most statements (logical lines) that you write will contain expressions. A simple example of an expression is

2 + 3

An expression can be broken down into operators and operands.

### Operators 

are functionality that do something and can be represented by symbols such as + or by special keywords. 

Operators require some data to operate on and such data is called operands. In this case, 2 and 3 are the operands.


We will briefly take a look at the operators and their usage.

Here is a quick overview of the available operators:

https://python.swaroopch.com/op_exp.html


but the most common are: 

+ (plus)

Adds two objects

3 + 5 gives 8. 'a' + 'b' gives 'ab'.

- (minus)

Gives the subtraction of one number from the other; if the first operand is absent it is assumed to be zero.

-5.2 gives a negative number and 50 - 24 gives 26.

* (multiply)

Gives the multiplication of the two numbers or returns the string repeated that many times.

2 * 3 gives 6. 'la' * 3 gives 'lalala'.

** (power)

Returns x to the power of y

3 ** 4 gives 81 (i.e. 3 * 3 * 3 * 3)


/ (divide)

Divide x by y

13 / 3 gives 4.333333333333333



### Shortcut for math operation and assignment


It is common to run a math operation on a variable and then assign the result of the operation back to the variable, hence there is a shortcut for such expressions:

a = 2

a = a * 3

can be written as:

a = 2

a *= 3

Notice that var = var operation expression becomes var operation= expression.

[back to top](#Contents)


<a id="6"></a> 
# 6. Strings

In our dogyears calculator function above there are three strings:  "What is your age?", "Your age is", and "dog years".

String:  A string is a sequence of characters enclosed within double quotation marks or apostrophes (single quotation marks).

    Example:  "Good afternoon." , 'Welcome', "AbC", 'X'
    
Without quatation marks or apostrophes, you will get an error if you run it in a code cell.

In [18]:
"Good afternoon."

'Good afternoon.'

In [19]:
Good afternoon

SyntaxError: invalid syntax (3407499028.py, line 1)

In [20]:
"X"

'X'

In [99]:
#X

An exception is if we have assigned X, for example, as a variable to another value. 

But there are rules about variable names, we will get to that later.

In [22]:
X = 3

In [23]:
X

3

In [100]:
# remember variable naming 

#Good afternoon = 4

### Quotes

There is no difference between single and double quotes 

    Unless, your string has an apostrophe in it:  "Mike's car", then it is better to use double quoates 

At some point it will be advantageous to use one or the other 

Strings are of type str

In [25]:
str_1 = "hello"
str_2 = "friend"

In [26]:
type(str_1)

str

Strings without quotes will result in error

Strings are made of individual characters

To access the individual characters we index

Each character in the string corresponds to a position number, starting at zero

Hello Bro    
012345678

9 characters, including the space so last character is in position n-1 (because we start at zero, not 1)

We access the index using the form stringname[index_num]

In [27]:
str_2

'friend'

In [28]:
str_2[0]

'f'

In [29]:
str_2[1]

'r'

We can index from the end using stringname[-index_num]

In [30]:
str_2[-1]

'd'

In [31]:
str_2[-2]

'n'

### Substrings and Slicing

If we want more than one character indexed, or 'substring',we will slice our strings

str_2[0:3]


The first number is where we want to start the index 

then a colon:

The second is where the slice ends - But it does not include the final number (non-inclusive)

If you try to slice out of the range, you will get an error

if str_2 = "friend"

index of the string is:

friend
012345

In [32]:
str_2[0:3]

'fri'

In [33]:
str_2[0:5]

'frien'

In [34]:
str_2[0:6]

'friend'

Note, if we tried a range above our index, we will be fine, but if we try to index just one character out of range, we get an error.

In [35]:
str_2[0:20]

'friend'

In [101]:
#str_2[20]

If you slice and leave either number index blank, at defaults to the beginning or end of the string

In [37]:
str_2[:6]

'friend'

In [38]:
str_2[0:]

'friend'

more examples with:

hello bro 
012345678

In [39]:
a = "hello bro"

In [40]:
a[:5]

'hello'

In [41]:
a[6:]

'bro'

In [42]:
a[0:9]

'hello bro'

In [43]:
a[0:]

'hello bro'

In [44]:
a[:9]

'hello bro'

as you can see, there are often multiple ways to slice and get the same results

### Operations  can be done on strings too

Notice the importance of spacing inside of the quotes to yield different results

In [45]:
'hello' + 'friend'

'hellofriend'

In [46]:
'hello' + ' friend'

'hello friend'

In [47]:
'hello' * 3

'hellohellohello'

In [48]:
'hello ' * 3

'hello hello hello '

In [49]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [50]:
for i in '  Hello  ':
    print(i)

H
e
l
l
o

Notice the difference between using (  ) and [  ] when printing and listing

In [51]:
Q1 = ("Data Science for all!")

In [52]:
for i in Q1:
    print(i)

D
a
t
a

S
c
i
e
n
c
e

f
o
r

a
l
l
!

In [53]:
Q2 = ["Data Science for all!"]
for i in Q2:
    print(i)

Data Science for all!

In [54]:
for i in 'Hello':
    print(i)

H
e
l
l
o

In [55]:
for i in ('Hello'):
    print(i)

H
e
l
l
o

In [56]:
for i in ['Hello']:
    print(i)

Hello

[back to top](#Contents)


<a id="7"></a> 

# 7. Lists



lists are data structures that have ordered elements

They are created by using square brackets

In [57]:
friends = ['Mike', 'Maggie', 'Luke', 'Lary']
friends

['Mike', 'Maggie', 'Luke', 'Lary']

In [58]:
classes = ['Python', 'R', 'Tableau', 'SQL']
len(classes)

4

In [59]:
numbers = [1, 2, 3, 6, 8, 9]
type(numbers)

list

In [60]:
random = [1, False, 'Hello', 3.65]

In [61]:
random

[1, False, 'Hello', 3.65]

In [62]:
len(random)

4

In [63]:
print(type(random))

<class 'list'>

### Slicing Lists

A slice is a part of a list, just like with strings 

And it is done the same way

In [64]:
x = [3, 5, 9, 8, 1, 7, 6, 4]

In [65]:
x[2:5]

[9, 8, 1]

You could say the end is noniclusive

if  J equals

In [66]:
j =[4, 8, 11, 3, 19, 2, 5, 8, 12, 9]

In [67]:
#only prints the last one, unless you put print() first

j[2:6]
j[7:9]
j[9:1]
j[:6]
j[2:]

[11, 3, 19, 2, 5, 8, 12, 9]

In [68]:
print(j[2:6])
print(j[7:9])
print(j[9:1])
print(j[:6])
print(j[2:])
print(j[-1:0])

[11, 3, 19, 2]
[8, 12]
[]
[4, 8, 11, 3, 19, 2]
[11, 3, 19, 2, 5, 8, 12, 9]
[]

the third and sixth return  empty lists, because it doesn't work like that.  Can't go backwards in this manner.

### Altering values in lists

lists are mutable- you can add or remove items

To alter a single value in a list, you can specify an index's new value

In [69]:
a = [1, 2, 3]
a

[1, 2, 3]

In [70]:
a[0] = -10
a

[-10, 2, 3]

### append method

To add values use the .append method

A method = a function called on an object

Objects have built-in methods that can be utilized depending on the type of object

Methods are basically functions that work on specific classes of data. 

.append will work on a list, but not on an individual integer

In [71]:
a.append(4)
a

[-10, 2, 3, 4]

In [72]:
#.append will work on a list, but not on an individual integer

1.append(4)

SyntaxError: invalid syntax (352740961.py, line 3)

In [73]:
b = 1

In [102]:
# even if you assign it to a variable.  Doesn't work, need to have a list format

#b.append(4)

In [75]:
# but if we assign 1 to b as a list type...

b = [1]

b.append(4)

b

[1, 4]

Typing a. then tab key will show you a list of different methods you can perform

For example you can also use .extend()

.extend, extends the list, .append attaches list as another object.

In [76]:
print(a)
c = [20, 30]
print(c)
a.extend(c)
a

[-10, 2, 3, 4]
[20, 30]

[-10, 2, 3, 4, 20, 30]

In [77]:
d = [200, 300]
a.append(d)
a

[-10, 2, 3, 4, 20, 30, [200, 300]]

### Operations on lists 

if you multiply a list it will return that list, twice

Whats the difference between the two?

In [78]:
# we multiply the list, not each element of the list
# to multiply each value, you may want to use a loop, for example 

j = [1, 2, 3, 4, 5]
print(j)
j*2

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [79]:
[j*2]

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

when you do [j * 2] and get the double brackets, you've made a list within a list

In [80]:
h = j * 2
k = [j * 2]
print(h)
print(k)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]]

In [81]:
h.append([20, 30, 40])
print(h)
len(h)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, [20, 30, 40]]

11

In [82]:
h[-1]

[20, 30, 40]

In [83]:
k.append([20, 30, 40])
print(k)
len(k)

[[1, 2, 3, 4, 5, 1, 2, 3, 4, 5], [20, 30, 40]]

2

 Now the len is only two, because there are two lists.  K was a list within a list.

[back to top](#Contents)


<a id="8"></a> 

# 8. Loops


A lot of programming can be very repetitive

In [84]:
classes = ['math', 'science', 'history', 'gym']
family = ['Doug', 'Joan', 'Scott', 'Mitch']
numbers = [1, 2, 3, 4, 5]
classes

['math', 'science', 'history', 'gym']

if you print the list, it prints out the whole list

If you wanted to print out single things in a list you could do print(classes[x])

In [85]:
print(family)

['Doug', 'Joan', 'Scott', 'Mitch']

In [86]:
print(family[0])
print(family[1])
print(family[2])
print(family[3])

Doug
Joan
Scott
Mitch

This is why we use loops

Loops save us time by automating a repetitive process

two braod categories  'for loops'(or definite loops) and 'while loops'
 

I will show you 'for' loops now


for a in b:

    [executabale statement]
    
where a refers to the elements in b

In [87]:
for i in classes:
    print(i)

math
science
history
gym

### Definite/for loops


Execute code a specific (definite) number of times

basic structure:


for  each item in  sequence:
    
    <statement>

In [88]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [89]:
# the name of each 'item' doesn't matter as long as you stay consistent 

classes = ['math', 'science', 'history', 'gym']

for cow in classes:
    print(cow)

math
science
history
gym

In [90]:


for cow in classes:
    print(1)

1
1
1
1

In [91]:
x = 1

for cow in classes:
    print(x)
    x += 1

1
2
3
4

In [92]:
for cow in classes:
    print('x')

x
x
x
x

Lots of flexibility

In [93]:
y = 1

for i in classes:
    print(y)
    y += 10

1
11
21
31

In [94]:
z = 1

for i in classes:
    print(z * 3)
    y += 10

3
3
3
3

In [95]:
z = 1

for i in classes:
    print(z * 3)
    z += 10

3
33
63
93

### While Loops 

For loops execute a specific number of times

    for example, once for each item in a list

While loops execute until a certain criterion has been met

    while -item- -condition-
        -statement-
        
        
When using while loops, you must identify a starting value for your variables.  This is called initializing your variable.

In [105]:
i= 1

while i <= 3:
    print(i)
    i += 1

1
2
3

In [111]:
j = 12
while j <= 300000000000:
    print(j)
    j = j * j

12
144
20736
429981696

And we can define this loop as a function

In [115]:
def Q1():
    j = 12
    while j <= 300000000000:
        print(j)
        j = j * j

In [116]:
Q1()

12
144
20736
429981696

[back to top](#Contents)


<a id="9"></a> 

# 9. Functions

A function is a block of reusable code that performs one action

Python has built-in functions and we can also have user defined functions

built-in function examples:

In [118]:
print('hello')

hello

In [119]:
len('hello')

5

In [120]:
type('hello')

str

In [122]:
abs(-10)

10

### Creating Functions

to create functions:

1. Use the keyword def
2. Follow def with the function name
3. Add parentheses with optional parameters

In [123]:
def fun1():
    print("hello world")

In [124]:
fun1()

hello world

In [125]:
def fun2(x):
    return x * x

In [126]:
fun2(5)

25

In [127]:
def fun3(x, y):
    print(x*y)

In [128]:
fun3(5, 10)

50

In [150]:

def fun3():
    # We can add a docstring with double qoutes to define function in help section 
    "multiplies items in a list named list by 2"
    for i in list:
        print(i * 2)

In [151]:
list = [1, 2, 3, 4]

fun3()

2
4
6
8

In [141]:
help(fun3)

Help on function fun3 in module __main__:

fun3()
    multiplies items in a list named list by 2

### Methods

Methods are functions that belong to objects of the same type

the available method will differ depending on it's type

In [129]:
name = 'Maximus'

In [130]:
name.lower()

'maximus'

In [132]:
name.index('i')

3

In [142]:
classes

['math', 'science', 'history', 'gym']

In [143]:
classes.index('gym')

3

In [147]:
#classes.lower()

# no lower method with lists

[back to top](#Contents)


<a id="10"></a> 

# 10. Packages

Additional python code not available with base python

packages come with a collection of modules

Modules are single python scripts

most data scientist work with packages primarily from NumPy, Pandas, Matplotlib. 

Packages are usually imported at the top of your script or notebook and named with an alias

many packages come with your python installation

you can download more packages via pip

to use the package you need to call the NumPy functions

In [153]:
# example

import numpy as np

[back to top](#Contents)


<a id="11"></a> 

# 11.  Rerturn Vs Print

Return returns a number without printing it

In [154]:
def print_a_number(num):
    print(num)
    
def return_a_number(num):
    return(num)

def add_three(num):
    return num + 3

In [155]:
# prints the number 5 but has nothing stored
func_1 = print_a_number(5)

5

In [156]:
# so if you print the function you get "none"
print(func_1)

None

In [157]:
# doesn't print anything
func_2 = return_a_number(5)

In [158]:
# Now prints 5 because the 5 value has been returned and stored to func_2
print(func_2)

5

In [159]:
# doesn't work because print_a_number will print an number 5 but doesn't return a number 5, which gives us an error
# giving you None + 3, which you cannot do
func_3 = add_three(print_a_number(5))

5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [163]:
func_4 = add_three(return_a_number(5))

In [164]:
print(func_4)

8